@import './variables.less';

@font-face{
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Regular.ttf.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Source Code Pro Light';
  src: url('../assets/fonts/SourceCodePro-Light.ttf.woff2') format('woff2');
  font-weight: 300;
}


:root body {
  font-family: 'Source Code Pro Light', 'Source Code Pro', 'Inter', 'Arial';
  font-feature-settings: 'ss04', 'tnum' 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6D80D6;
  border: 2px solid #25262B;
}

::-webkit-scrollbar-track {
  background: #212226;
}

.container {
  margin: 0 auto;
  padding: 24px;
}

.flex {
  display: flex;
}

.fc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #E3E4FF;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .buttons {
    display: flex;

    .anticon {
      font-size: 18px;
      color: #A6A7C0;
      margin-top: 1px;
    }

    .ant-progress {
      line-height: 1;
    }

    .ant-progress.disabled {
      cursor: not-allowed;
    }

    .anticon,
    .ant-progress {
      padding: 10px;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        background: #25262B;
      }
    }
    a {
      color: @text-color;
    }
  }
}

.card {
  padding: 1px;
  background: #25262B;

  .card-body {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
    padding: 32px 24px;
    background:	#25262B;
    border: solid 1px;
    border-image:	linear-gradient(90deg, #9FCCCC 0%, #6D80D6 100%) 1;
    border-radius: 0px;
  }
}

.lp-icons {
  display: flex !important;
  align-items: center;

  .icons {
    display: flex;
    flex-direction: row;

    img {
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
}

.ant-tooltip {
  font-size: 12px;
}

.ant-tooltip-inner {
  display: inline-block;

  p {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: @text-color;
  }

  .swap-info {
    font-size: 12px;
    line-height: 20px;
    color: @text-color;

    .info {
      display: grid;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
      gap: 10px;
      grid-template-columns: minmax(auto, 1fr) auto auto;

      .symbol {
        opacity: 0.75;
      }

      .address {
        padding: 2px 4px;
        background: @bg-color;
        border-radius: 4px;
        opacity: 0.75;
      }

      .action {
        font-size: 16px;

        i {
          cursor: pointer;

          &:hover {
            color: @primary-color;
          }
        }

        a {
          color: @text-color;
        }
      }
    }
  }
}

.ant-pagination-item,
.ant-pagination-item-link {
  background: transparent !important;
}