// https://github.com/vueComponent/ant-design-vue/blob/next/components/style/themes/default.less

// color
@primary-color: #56DCD7;
@hilight-color: #E3E4FF;
@bg-color: #25262B;
@text-color: #A6A7C0;
@heading-color: @text-color;
@layout-header-background: @bg-color;
@layout-body-background: @bg-color;
// menu
@menu-bg: @bg-color;
@menu-item-color: #A6A7C0;
@menu-highlight-color: #E3E4FF;
@menu-dark-item-active-bg: #56DCD7;
// button

// card
@card-background: #25262B;
// modal
@modal-header-bg: #212226;
@modal-heading-color: @text-color;
// tooltip
@tooltip-bg: @modal-header-bg;
@tooltip-color: @text-color;
@tooltip-max-width: 400px;
// tabs
// @tabs-highlight-color: @text-color;
// @tabs-title-font-size: 24px;
// @tabs-scrolling-size: 0;
// @tabs-horizontal-margin: 0 16px 0 0;
// @tabs-horizontal-padding: 0;
// collapse
@collapse-header-bg: #212226;
@collapse-content-bg: @collapse-header-bg;
// process
@progress-default-color: @primary-color;
// table
@table-header-bg: transparent;
@table-row-hover-bg: transparent;
@table-header-sort-active-bg: transparent;
@table-header-filter-active-bg: transparent;
// radio
@radio-button-bg: #212226;
@radio-button-checked-bg: #f1f1f2;
