<template>
  <div class="page-container">
    <nav class="home-navbar">
      <a href="https://www.keramos.tech/">
        <img src="../assets/icons/logo-text.svg" height="48" />
      </a>

      <a href="#" rel="nofollow noopener noreferrer" target="_blank">
        <div class="button-noborder" style="margin-top: 14px;">
          LITEPAPER
          <img src="../assets/icons/icon_litepaper_light.svg" width="20" height="20" style="margin-bottom:2px;">
          </div>
      </a>
    </nav>

    <!-- section-app !-->
    <section class="section-app -1 children-center">
      <div class="image-1" />
      <div class="content">

        <div class="boards">
          <div class="hl1 title">
            “Hello,
          </div>
          <div class="hl2 title">
            DeFi World!”
          </div>

          <div class="subhl1 subtitle">
            <i>IN AN <span style="color: #56DCD7;">AUTOMATED</span></i>
          </div>
          <div class="subhl2 subtitle">
            <i><span style="color: #56DCD7;">HIGH FREQUENCY</span> FASHION</i>
          </div>

          <div class="co1">
            <NuxtLink to="/swap/">
              <div class="card button-like card-1 blackbox">
                <span class="">LAUNCH APP</span>
              </div>
            </NuxtLink>
          </div>

          <div class="co2">
            <a href="https://raydium.gitbook.io/raydium/" rel="nofollow noopener noreferrer" target="_blank">
              <div class="card button-like card-2 blackbox teal">
                <span class="font">READ DOCS</span>
              </div>
            </a>
          </div>
        </div>

        <div class="full">
          <img src="../assets/background/index_slogan_build_on.svg" class="solana-logo" style="width:200px;"/>
        </div>

      </div>
    </section>
    
    <!-- section-value !-->
    <section class="section-value -1 children-center">
      <div class="image-1">
      <div class="content">

        <div class="boards">

          <div class="co1 card blackbox">
            <div class="card-title">TOTAL VALUE LOCKED</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(tvl)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>

          <div class="co2 card blackbox">
            <div class="card-title">TOTAL TRADING VOLUME</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(totalvolume)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>

        </div>
        </div>

      </div>
    </section>

    <!-- section-sup !-->
    <section class="section-sup -1 children-center">

        <div class="content">
          <div class="hl title">
            <i>(SUPERIOR)</i>
          </div>
        </div>

        <div class="content">
          <div class="hl subtitle">
            <i>Speed</i>
          </div>
          <div class="hl subtitle">
            <i>&nbsp;&lt;&gt;&nbsp;</i>
          </div>
          <div class="hl subtitle">
            <i>Automation</i>
          </div>
          <div class="hl subtitle">
            <i>&nbsp;&lt;&gt;&nbsp;</i>
          </div>
          <div class="hl subtitle">
            <i>Intelligence</i>
          </div>
        </div>

    </section>

    <section class="section-app-face children-center grid-cover-container">
      <div class="image-1" />
      <div class="grid-cover-content children-center">
        <div class="title row-box-2">
          <div>“Hello,</div>
          <div>DeFi World!”</div>
        </div>
        <div class="subtitle">
          <i>IN AN <span style="color: #56DCD7;">AUTOMATED HIGH FREQUENCY</span> FASHION</i>
        </div>

        <div class="row-box-1">
          <NuxtLink to="/swap/">
            <div class="card button-like card-1 blackbox" style="width: 160px; padding: 10px; font-size:16px;">
              <span class="">LAUNCH APP</span>
            </div>
          </NuxtLink>

          <a href="https://raydium.gitbook.io/raydium/" rel="nofollow noopener noreferrer" target="_blank">
            <div class="card button-like card-2 blackbox teal" style="width: 160px; padding: 10px; font-size:16px;">
              <span class="font">READ DOCS</span>
            </div>
          </a>
        </div>

        <img src="../assets/background/index_slogan_build_on.svg" class="solana-logo" style="width:200px;"/>

        <div class="row-box-2">
          <div class="card blackbox">
            <div class="card-title">TOTAL VALUE LOCKED</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(tvl)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>

          <div class="card blackbox">
            <div class="card-title">TOTAL TRADING VOLUME</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(totalvolume)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section-super children-center grid-cover-container">
      <div class="image-1" />
      <div class="grid-cover-content children-center" style="margin-top: 240px;">
        <div class="title"><i>(SUPERIOR)</i></div>
        <div class="subtitle"><i>Speed &lt;&gt; Automation &lt;&gt; Intelligence</i></div>
      </div>
    </section>

    <section class="section-features -1 children-center">
      <div class="image-2" />
      <div class="content">

        <div class="boards">
          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_dex.png" />
            </div>
            <div class="feature-title">DEX</div>
            <div class="feature-description">Trade<br>Fast &amp; Low Fee</div>
            <NuxtLink to="/swap/">
              <div class="card button-like blackbox teal" style="width: 160px;">TRADE</div></NuxtLink>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_amm.png" />
            </div>
            <div class="feature-title">ORDERBOOK AMM</div>
            <div class="feature-description">Access to order flow<br>and liquidity</div>
            <NuxtLink to="/swap/">
              <div class="card button-like blackbox teal" style="width: 160px;">SWAP</div></NuxtLink>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_farm.png" />
            </div>
            <div class="feature-title">YIELD FARM</div>
            <div class="feature-description">Ready-to-deploy<br>Multiple Yield Strategies</div>
            <NuxtLink to="/farms/">
              <div class="card button-like blackbox teal" style="width: 160px;">FARM</div>
            </NuxtLink>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_pool.png" />
            </div>
            <div class="feature-title">POOL ACROSS PLATFORM</div>
            <div class="feature-description">One Platform One Pool<br>Many more opportunities</div>
            <NuxtLink to="/liquidity/">
              <div class="card button-like blackbox teal" style="width: 160px;">VIEW POOL</div>
            </NuxtLink>
          </div>

        </div>
      </div>
    </section>

    <section class="section-partners children-center">
      <div class="title-text">
        <div class="text">PARTNERS</div>
      </div>

      <div class="boards">
        <img src="../assets/icons/sol_logo_grey.svg" width="50%" />
        <img src="../assets/icons/serum_logo_grey.svg" width="50%" />
      </div>
    </section>

    <footer class="page-footer">
      <div class="links-group">
        <div class="group about">
          <div class="title-text">
            <div class="text">ABOUT</div>
            <div class="line" />
          </div>
          <ul class="links">
            <li>
              <a
                class="link"
                href="https://raydium.gitbook.io/raydium/"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Documentation</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://coinmarketcap.com/currencies/raydium/"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >CoinMarketCap</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://www.coingecko.com/en/coins/raydium"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >CoinGecko</a
              >
            </li>
            <li>
              <a class="link" href="/docs/disclaimer" target="_blank">Disclaimer</a>
            </li>
          </ul>
        </div>

        <div class="group protocol">
          <div class="title-text">
            <div class="text">PROTOCOL</div>
            <div class="line" />
          </div>
          <ul class="links">
            <li>
              <a
                class="link"
                href="https://forms.gle/Fjq4MiRA2qWbPyt29"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Apply for DropZone</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://docs.google.com/forms/d/1Mk-x0OcI1tCZzL0Lj_WY8d02dMXsc-Z2AG3AaO6W_Rc/edit#responses"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Apply for Fusion Pool</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://docs.google.com/forms/d/1Mk-x0OcI1tCZzL0Lj_WY8d02dMXsc-Z2AG3AaO6W_Rc/edit#responses"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Apply for AcceleRaytor</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://raydium.gitbook.io/raydium/permissionless/creating-a-pool"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Permissionless Pool</a
              >
            </li>
          </ul>
        </div>

        <div class="group support">
          <div class="title-text">
            <div class="text">SUPPORT</div>
            <div class="line" />
          </div>
          <ul class="links">
            <li>
              <a
                class="link"
                href="https://raydium.gitbook.io/raydium/trading-on-serum/spl-wallets"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >Getting Started on Raydium</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://raydium.gitbook.io/raydium/trading-on-serum/faq"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >FAQ</a
              >
            </li>
          </ul>
        </div>

        <div class="group community">
          <div class="title-text">
            <div class="text">COMMUNITY</div>
            <div class="line" />
          </div>
          <ul class="links">
            <li>
              <a
                href="https://twitter.com/RaydiumProtocol"
                class="link"
                rel="nofollow noopener noreferrer"
                target="_blank"
              >
                <div class="card icon-like forsted-glass teal">
                  <img src="../assets/icons/home-icon-twitter.svg" width="20" height="20" />
                </div>
                <div class="media-name">Twitter</div>
              </a>
            </li>
            <li>
              <a href="https://raydium.medium.com/" class="link" rel="nofollow noopener noreferrer" target="_blank">
                <div class="card icon-like forsted-glass teal">
                  <img src="../assets/icons/home-icon-medium.svg" width="18" height="18" />
                </div>
                <div class="media-name">Medium</div>
              </a>
            </li>
            <li>
              <a
                href="https://discord.com/invite/6EvFwvCfpx"
                class="link"
                rel="nofollow noopener noreferrer"
                target="_blank"
              >
                <div class="card icon-like forsted-glass teal">
                  <img src="../assets/icons/home-icon-discord.svg" width="20" height="20" />
                </div>
                <div class="media-name">Discord</div>
              </a>
            </li>
            <li>
              <a href="https://weibo.com/u/7573315825" class="link" rel="nofollow noopener noreferrer" target="_blank">
                <div class="card icon-like forsted-glass teal">
                  <img src="../assets/icons/home-icon-weibo.svg" width="20" height="20" />
                </div>
                <div class="media-name">Weibo</div>
              </a>
            </li>
            <li style="width: max-content">
              <Popover v-model="isPopupOpen" trigger="click" placement="right">
                <template slot="content">
                  <ul class="pop-links">
                    <a
                      class="link"
                      href="https://t.me/raydiumprotocol"
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      >Telegram (EN)</a
                    >
                    <a class="link" href="https://t.me/RaydiumChina" rel="nofollow noopener noreferrer" target="_blank"
                      >Telegram (CN)</a
                    >
                    <a class="link" href="https://t.me/raydiumkorea" rel="nofollow noopener noreferrer" target="_blank"
                      >Telegram (KR)</a
                    >
                    <a class="link" href="https://t.me/raydiumjapan" rel="nofollow noopener noreferrer" target="_blank"
                      >Telegram (JP)</a
                    >
                    <a
                      class="link"
                      href="https://t.me/RaydiumSpanish"
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      >Telegram (ES)</a
                    >
                    <a class="link" href="https://t.me/RaydiumTurkey" rel="nofollow noopener noreferrer" target="_blank"
                      >Telegram (TR)</a
                    >
                    <a
                      class="link"
                      href="https://t.me/RaydiumVietnam"
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      >Telegram (VN)</a
                    >
                    <a
                      class="link"
                      href="https://t.me/RaydiumRussian"
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      >Telegram (RU)</a
                    >
                    <a
                      class="link"
                      href="https://t.me/raydiumthailand"
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      >Telegram (TH)</a
                    >
                  </ul>
                </template>

                <div class="link">
                  <div class="card icon-like forsted-glass teal">
                    <img src="../assets/icons/home-icon-telegram.svg" width="24" height="24" />
                  </div>
                  <div class="media-name" style="cursor: pointer">Telegram</div>
                  <Icon
                    type="down"
                    style="transform: translateY(2px) scaleX(0.7) scaleY(0.6); margin: -12px; cursor: pointer"
                  />
                </div>
              </Popover>
            </li>
          </ul>
        </div>
      </div>

      <img class="foot-logo" src="../assets/icons/logo-text.svg" width="148" height="40" />
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { Icon, Popover } from 'ant-design-vue'
import HeadChip from '@/components/HeadChip.vue'

@Component({
  components: {
    Icon,
    Popover,
    HeadChip
  },
  layout: 'home',

  async asyncData({ $accessor, $api }) {
    if (!$accessor.price.initialized) {
      await $accessor.price.requestPrices()
    }

    const { tvl, totalvolume } = await $api.getInfo()
    return { tvl, totalvolume }
  }
})
export default class Index extends Vue {
  isPopupOpen = false
  tvl = 0
  totalvolume = 0
  timer: number | undefined = undefined

  mounted() {
    this.timer = window.setInterval(this.getInfo, 1000 * 30)
  }

  beforeDestroy() {
    window.clearInterval(this.timer)
  }

  async getInfo() {
    const { tvl, totalvolume } = await this.$api.getInfo()
    this.tvl = tvl
    this.totalvolume = totalvolume
  }
}
</script>

<style>
.ant-popover-arrow {
  border-color: #0c0926 !important;
}
.ant-popover-inner-content {
  background-color: #0c0926 !important;
}
</style>
<style scoped>
/* utilities */
.card {
  padding: 12px 24px;
  border-radius: 0px;
}
.button-like {
  cursor: pointer;
  user-select: none;
  transition: 75ms;
  font-size: 14px;
  line-height: 18px;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  border: solid 1px;
  padding: 8px;
  color: #E3E4FF;
  font-family: 'Source Code Pro';
}
.button-like:active {
  transform: scale(1);
}
.button-like:hover {
  background-image: linear-gradient(90deg, #597f81, #545d8b);
  color: #E3E4FF;
}
.button-like .font {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon96 {
  display: inline-block;
  width: 120px;
  height: 120px;
  top: -15px;
  position: relative;
}

.forsted-glass {
  position: relative;
  backdrop-filter: blur(var(--blur-size));
  color: var(--text-color);
  border-radius: var(--border-radius);
  background: linear-gradient(126.7deg, var(--bg-board-color) 28.7%, var(--bg-board-color-2, var(--bg-board-color)));
}
.forsted-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
  background: transparent;
  border-radius: inherit;
  box-shadow: inset 0 0 0 var(--border-line-width, 1.5px) var(--border-color);
  mask-image: radial-gradient(at -31% -58%, hsl(0, 0%, 0%, 0.5) 34%, transparent 60%),
    linear-gradient(to left, hsl(0, 0%, 0%, 0.2) 0%, transparent 13%),
    linear-gradient(hsl(0deg 0% 0% / 5%), hsl(0deg 0% 0% / 5%));
}
.forsted-glass.buriedlightsmoke,
.forsted-glass.lightsmoke {
  --border-color: hsl(0, 0%, 100%);
  --bg-board-color: hsl(0, 0%, 100%, 0.08);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --blur-size: 1.5px;
  --border-radius: 20px;
  --border-line-width: 2px;
}
.forsted-glass.buriedlightsmoke {
  --blur-size: 6px;
}
.forsted-glass.smoke {
  --border-color: hsl(0, 0%, 100%);
  --bg-board-color: hsl(0, 0%, 100%, 0.12);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --blur-size: 2.3px;
  --border-radius: 20px;
}
.forsted-glass.teal {
  --border-color: hsl(165, 87%, 65%);
  --bg-board-color: hsl(183, 67%, 54%, 0.2);
  --bg-board-color-2: hsl(183, 67%, 54%, 0);
  --text-color: hsl(183, 67%, 54%);
  --blur-size: 6px;
  --border-radius: 12px;
}

.blackbox {
  position: relative;
  backdrop-filter: blur(var(--blur-size));
  color: var(--text-color);
  background: #292A2F;
  border-radius: 0;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
}
.blackbox::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: transparent;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  border: solid 1px;
}
.blackbox.buriedlightsmoke,
.blackbox.lightsmoke {
  --border-color: ;
  --bg-board-color: hsl(0, 0%, 100%, 0.08);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --border-radius: 0px;
  --border-line-width: 1px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
}
.blackbox.buriedlightsmoke {
  --border-radius: 0px;
}
.blackbox.smoke {
  --border-color: ;
  --bg-board-color: hsl(0, 0%, 100%, 0.12);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --border-radius: 0px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
}
.blackbox.teal {
  --border-color: ;
  --bg-board-color: hsl(183, 67%, 54%, 0.2);
  --bg-board-color-2: hsl(183, 67%, 54%, 0);
  --text-color: #E3E4FF;
  --border-radius: 0px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
  font-family: 'Source Code Pro';
  letter-spacing: 2px;
  width: 160px;
  padding: 10px;
  font-size:16px;
}

.button-noborder {
  border: 0;
  color:#E3E4FF;
  font-family: 'Source Code Pro';
}
.button-noborder:hover {
  color:#56DCD7;
}

.children-center {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.children-center,
.children-text-center > * {
  text-align: center;
}
.children-center,
.children-flex-content-center > * {
  justify-content: center;
}

.title-text {
  margin-bottom: 32px;
}
.title-text .line {
  margin: 8px auto;
  width: 40px;
  height: 1px;
  border-radius: 2px;
  background: radial-gradient(39.84% 47.5% at 96.82% 58.33%, #39d0d8 0%, #2b6aff 100%);
}
.title-text .text {
  font-size: 20px;
  line-height: 27px;
}

.grid-cover-container {
  place-items: center;
  display: grid;
}
.grid-cover-container > * {
  max-width: 100%;
  grid-area: 1 / 1;
  overflow: auto;
}

.page-container {
  --text-primary: #A6A7C0;
  --text-secondary: #A6A7C0;
  --text-secondary-light: #A4A5BF;

  overflow: hidden;
}

.home-navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 32px;
  justify-content: space-between;
  z-index: 1;
}

.section-app-face {
  margin-top: 120px;
  margin-bottom: 40px;
  height: 680px;
  position: relative;
}
.section-app-face .image-1 {
  /*background-image: url('../assets/background/home-bg-element-1.png');*/
  background-repeat: no-repeat;
  height: 100%;
  width: 744px;
}
.section-app-face .title {
  font-weight: 0;
  font-size: 56px;
  line-height: 60px;
  color: #E3E4FF;
  margin-bottom: 16px;
  margin-top: 56px;
  font-family: 'Source Code Pro Light';
}
.section-app-face .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: var(--text-secondary);
  margin-bottom: 48px;
}
.section-app-face .defi-text {
  font-weight: 700;
  color: transparent;
  background: radial-gradient(circle at top right, #39d0d8, #2b6aff);
  background-clip: text;
}
.section-app-face .row-box-1 {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  margin-bottom: 24px;
}
.section-app-face .row-box-1 .card-1 {
  border-radius: 0;
  color: #25262B;
  background: linear-gradient(90deg, #74DBD9, #8192F0);
  transition: 500ms;
}
.section-app-face .row-box-1 .card-1:hover {
  border-radius: 0;
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
}
.section-app-face .row-box-1 .card-1 .icon {
  width: 4px;
  height: 12px;
  margin-left: 6px;
}
.section-app-face .row-box-1 .card-2 .icon {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}
.section-app-face .row-box-2 {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  margin-bottom: 16px;
  margin-top: 160px;
}
.section-app-face .row-box-2 .card {
  width: 320px;
  padding: 24px;
}
.section-app-face .row-box-2 .card .card-title {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-secondary);
  margin-bottom: 4px;
}
.section-app-face .row-box-2 .card .value {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary);
}
.section-app-face .row-box-2 .card .value-sign {
  font-size: 24px;
}
.section-app-face .row-box-2 .card .value-number {
  font-size: 24px;
  letter-spacing: 1px;
}
.section-app-face .boards {
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}
.section-app-face .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-app-face .image-2 {
  position: absolute;
  inset: 0;
}

.section-app-face .image-3 {
  background: url('../assets/background/index_background3.webp');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.section-app-face .content {
  padding: 0 56px;
  margin: 108px 64px 172px;
}

.section-app-face .feature-description {
  font-size: 16px;
  line-height: 24px;
}

.section-super {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 680px;
  position: relative;
}
.section-super .image-1 {
  background-image: url('../assets/background/home-bg-element-2.png');
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.section-super .title {
  font-weight: 0;
  font-size: 48px;
  line-height: 60px;
  color: var(--text-secondary);
  margin-bottom: 16px;
  margin-top: 56px;
  font-family: 'Source Code Pro Light';
}
.section-super .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: #56DCD7;
  margin-bottom: 48px;
}

.pop-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pop-links .link {
  padding: 8px;
  color: #c4d6ff;
}
.pop-links .link:not(:last-child) {
  box-shadow: 0 1px 0 rgba(196, 214, 255, 0.1);
}
.pop-links .link:hover {
  color: white;
}

.section-partners {
  margin-bottom: 100px;
}
.section-partners .boards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 228px;
}
.section-partners .boards > * {
  flex-grow: 0;
}

.page-footer {
  position: relative;
  background-image: url('../assets/background/home-footer-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flow-root;
}
.page-footer .links-group {
  width: 100%;
  padding: 200px 4% 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-footer .links-group > * {
  flex-basis: 220px;
}
.page-footer .group .title-text .text {
  font-size: 14px;
  margin-bottom: 8px;
}
.page-footer .group .title-text .line {
  width: 20px;
  margin: 0;
}
.page-footer .group .links {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-secondary-light);
}
.page-footer .group .links .link {
  font-size: 16px;
  margin-bottom: 26px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 12px;
  align-items: center;
  color: var(--text-secondary-light);
}
.page-footer .group .links .link:hover {
  color: white;
}
.page-footer .group .links .icon-like {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: grid;
  place-content: center;
}
.page-footer .foot-logo {
  margin: 16px auto 64px;
  display: block;
}

/* section app */
.section-app .hl {
  width: fit-content;
  float: left;
}
.section-app .hl1 {
  position: absolute;
  text-align: right;
  right: 59%;
}
.section-app .hl2 {
  position: absolute;
  text-align: left;
  left: 43%;
}
.section-app .subhl1 {
  position: absolute;
  text-align: right;
  right: 56%;
}
.section-app .subhl2 {
  position: absolute;
  text-align: left;
  left: 45.3%;
}
.section-app .co1 {
  position: absolute;
  right: 51%;
  margin-top: 144px;
}
.section-app .co2 {
  position: absolute;
  left: 51%;
  margin-top: 144px;
}
.section-app .full {
  position: relative;
  margin-top: 208px;
}
.section-app .title {
  font-size: 56px;
  line-height: 60px;
  color: #E3E4FF;
  margin-bottom: 16px;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-app .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: var(--text-secondary);
  margin-top: 76px;
}
.section-app .card-1 {
  border-radius: 0;
  color: #25262B;
  background: linear-gradient(90deg, #74DBD9, #8192F0);
  transition: 500ms;
  width: 160px;
  padding: 10px;
  font-size:16px;
}
.section-app .card-1:hover {
  border-radius: 0;
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
}
.section-app .app-description {
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary-light);
  margin-bottom: 20px;
}
.section-app .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
  margin-top: 240px;
}

.section-app .boards {
  display: grid;
}

.section-app .boards > .card {
  padding: 24px 24px;
  flex: 1 0 120px;
}
.section-app .boards > .card > .card.icon-like {
  padding: 12px;
  margin-bottom: 12px;
}
.section-app .boards > .card > .app-title {
  margin-bottom: 4px;
}

.section-app.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 520px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-app.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.section-app.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-app.\-1 .image-1 {
  background: url('../assets/background/home-bg-element-1.png');
  background-size: 120%;
  background-repeat: no-repeat;
  display: flow-root;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.section-app.\-2 .image-3 {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.section-app.\-2 .content {
  padding: 0 56px;
  margin: 108px 64px 172px;
}
.section-app.\-2 .boards {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

.section-app.\-2 .app-description {
  font-size: 16px;
  line-height: 24px;
}

.section-app.\-2 .boards > .card {
  max-width: 360px;
  grid-template-rows: auto auto 1fr;
  align-items: initial;
}

/* section value */
.section-value.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 640px;
  overflow: hidden;
  background-size: 100% 100%;
}
.section-value .image-1 {
  background-image: url('../assets/background/home-bg-element-2.png');
  background-size: 110%;
  width: 100%;
  height: 100%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.section-value.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.section-value.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-value .co1 {
  position: absolute;
  right: 51%;
  margin-top: 0;
}
.section-value .co2 {
  position: absolute;
  left: 51%;
  margin-top: 0;
}

.section-value .blackbox {
  color: var(--text-color);
  background: rgb(41, 42, 47, 0.8);
  /*border: solid 1px;*/
  border-radius: 0;
  border-image:	linear-gradient(90deg, #9FCCCC, #6D80D6) 1;
}

.section-value .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
  margin-top: 360px;
}

.section-value .boards {
  display: grid;
}

.section-value .boards > .card {
  padding: 24px 24px;
  flex: 1 0 120px;
}

.section-value .card {
  width: 320px;
  padding: 24px;
}
.section-value .card .card-title {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-secondary);
  margin-bottom: 4px;
}
.section-value .card .value {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary);
}
.section-value .card .value-sign {
  font-size: 24px;
}
.section-value .card .value-number {
  font-size: 24px;
  letter-spacing: 1px;
}

/* section sup */
.section-sup .hl {
  width: fit-content;
  float: left;
}
.section-sup .title {
  font-size: 48px;
  line-height: 60px;
  color: var(--text-secondary);
  margin-bottom: 0;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-sup .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: #56DCD7;
  margin-top: 0;
}

.section-sup .content {
  max-width: 1220px;
  margin-top: 0;
}
.section-sup .box {
  margin: 0 auto;
}

.section-sup .boards {
  display: grid;
}

.section-sup.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 120px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-sup.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* section features */
.section-features .feature-title {
  font-family: 'Source Code Pro';
  font-size: 16px;
  color: #E3E4FF;
  margin-bottom: 8px;
}
.section-features .feature-description {
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary-light);
  margin-bottom: 20px;
}
.section-features .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
}

.section-features .boards {
  display: grid;
}

.section-features .boards > .card {
  padding: 24px 24px;
  flex: 1 0 120px;
}
.section-features .boards > .card > .card.icon-like {
  padding: 12px;
  margin-bottom: 12px;
}
.section-features .boards > .card > .feature-title {
  margin-bottom: 4px;
}

.section-features.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 480px;
  overflow: hidden;
  border-radius: 100px;
  background-size: 100% 100%;
}

.section-features.\-1 .boards {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.section-features.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-features.\-1 .image-2 {
  position: absolute;
  inset: 0;
}

.section-features.\-2 .image-3 {
  background: url('../assets/background/index_background3.webp');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.section-features.\-2 .content {
  padding: 0 56px;
  margin: 108px 64px 172px;
}
.section-features.\-2 .boards {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

.section-features.\-2 .feature-description {
  font-size: 16px;
  line-height: 24px;
}

.section-features.\-2 .boards > .card {
  max-width: 360px;
  grid-template-rows: auto auto 1fr;
  align-items: initial;
}

@media (max-width: 1128px) {
  /* is tablet */
  .home-navbar {
    padding: 28px 32px;
  }

  .section-app-face {
    margin-top: 116px;
    height: 720px;
  }
  .section-app-face .image-1 {
    background-size: 100%;
    width: 668px;
  }
  .section-app-face .title {
    font-size: 48px;
    line-height: 44px;
  }
  .section-app-face .subtitle {
    font-size: 20px;
    line-height: 26px;
  }
  .section-app-face .row-box-1 {
    gap: 24px;
    margin-bottom: 84px;
  }
  .section-app-face .row-box-2 {
    gap: 24px;
  }
  .section-app-face .row-box-2 .card .card-title {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }
  .section-app-face .row-box-2 .card .value-sign {
    font-weight: 300;
    font-size: 12px;
  }
  .section-app-face .row-box-2 .card .value-number {
    font-weight: 300;
    font-size: 18px;
  }

  .page-footer {
    background-size: 200vw 600px, 100% 100%;
    text-align: center;
  }
  .page-footer .links-group .group.community {
    flex-basis: 100vw;
  }
  .page-footer .links-group .title-text .line {
    margin: 0 auto;
  }
  .page-footer .links-group .group.community .title-text {
    display: none;
  }
  .page-footer .links-group .group.community .links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .page-footer .links-group .group.community .links .media-name {
    display: none;
  }
  .page-footer .group .links .link {
    justify-content: center;
  }

  .section-features.\-1 {
    margin: 0 24px;
    padding: 64px 40px;
    border-radius: 60px;
    background-size: 100% 100%;
  }
  .section-features.\-1 .boards {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .section-features.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .image-3 {
    background-image: url('../assets/background/index_background3_tablet.webp');
  }
}

@media (max-width: 768px) {
  /* is phone */
  .button-like {
    font-size: 14px;
    line-height: 15px;
  }
  .card {
    padding: 10px 20px;
  }
  .title-text .text {
    font-size: 16px;
    line-height: 20px;
  }

  .home-navbar {
    justify-content: center;
  }
  .home-navbar > *:nth-child(2n) {
    display: none;
  }
  .section-app-face {
    margin-top: 116px;
    height: unset;
  }
  .section-app-face .image-1 {
    width: 394px;
    height: 430px;
  }
  .section-app-face .title {
    font-size: 32px;
    line-height: 32px;
  }
  .section-app-face .subtitle {
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line;
    margin-top: -22px; /* to counteract the impact of white-space: pre-line */
  }
  .section-app-face .row-box-1 {
    gap: 20px;
    margin-bottom: 56px;
  }
  .section-app-face .row-box-1 .card-1 {
    font-size: 12px;
    line-height: 15px;
  }
  .section-app-face .row-box-2 {
    gap: 20px;
  }
  .section-app-face .row-box-2 .card {
    width: 165px;
    padding: 16px;

    --border-radius: 11.27px;
  }
  .section-app-face .row-box-2 .card .card-title {
    font-size: 8px;
    line-height: 10px;
  }
  .section-app-face .row-box-2 .card .value {
    line-height: 0;
  }
  .section-app-face .row-box-2 .card .value-sign {
    font-size: 8px;
    line-height: 10px;
  }
  .section-app-face .row-box-2 .card .value-number {
    font-size: 12px;
    line-height: 15px;
  }
  .section-app-face .boards {
    grid-template-columns: 1fr;
  }
  .section-app-face .content {
    padding: 0 20px;
  }
  .section-app-face .image-3 {
    background-image: url('../assets/background/index_background3_mobile.webp');
  }
  .section-app-face .feature-description {
    font-size: 14px;
    line-height: 20px;
  }
  .section-app-face .boards > .card {
    padding: 44px 20px;
  }
  .section-app-face .solana-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(0.8);
    bottom: -32px;
  }

  .page-footer .links-group {
    gap: 56px;
  }
  .section-partners .boards {
    width: unset;
    justify-content: unset;
    padding: unset;
    flex-direction: column;
    gap: 40px;
  }

  .section-app .hl1 {
  position: relative;
  text-align: center;
  right: 0;
  font-size: 44px;
  margin-top: 8px;
  }
  .section-app .hl2 {
    position: relative;
    text-align: center;
    left: 0;
    font-size: 44px;
    margin-top: -64px;
  }
  .section-app .subhl1 {
    position: relative;
    text-align: center;
    right: 0;
    margin-top: -28px;
    font-size: 22px;
  }
  .section-app .subhl2 {
    position: relative;
    text-align: center;
    left: 0;
    margin-top: -40px;
    font-size: 22px;
  }
  .section-app .co1 {
    position: relative;
    right: 0;
    margin: 0 auto;
    top: -12px;
  }
  .section-app .co2 {
    position: relative;
    left: 0;
    margin: 0 auto;
    top: -32px;
  }
  .section-app .full {
    position: relative;
    margin-top: 2px;
}
  .section-app .app-title {
    font-size: 18px;
    line-height: 23px;
  }
  .section-app .app-description {
    font-size: 14px;
    line-height: 16px;
  }

  .section-app.\-1 {
    padding: 56px 20px;
  }
  .section-app.\-1 .boards {
    grid-template-columns: 1fr;
  }
  .section-app.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-app.\-2 .content {
    padding: 0 20px;
  }
  .section-app.\-1 .image-1 {
  background: url('../assets/background/home-bg-element-1.png');
  background-size: 300%;
  background-repeat: no-repeat;
  display: flow-root;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  }
  .section-app.\-2 .image-3 {
    background-image: url('../assets/background/index_background3_mobile.webp');
  }
  .section-app.\-2 .app-description {
    font-size: 14px;
    line-height: 20px;
  }
  .section-app .boards > .card {
    padding: 44px 20px;
  }
  .section-app .card-1 {
  border-radius: 0;
  color: #25262B;
  background: linear-gradient(90deg, #74DBD9, #8192F0);
  transition: 500ms;
  width: 200px;
  font-size: 20px;
  padding: 16px;
  }
  .section-app .card-1:hover {
  border-radius: 0;
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
  }
  .blackbox.teal {
  width: 200px;
  font-size: 18px;
  padding: 16px;
}

  .section-features .feature-title {
    font-size: 18px;
    line-height: 23px;
  }
  .section-features .feature-description {
    font-size: 14px;
    line-height: 16px;
  }

  .section-features.\-1 {
    padding: 56px 20px;
  }
  .section-features.\-1 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .content {
    padding: 0 20px;
  }
  .section-features.\-2 .image-3 {
    background-image: url('../assets/background/index_background3_mobile.webp');
  }
  .section-features.\-2 .feature-description {
    font-size: 14px;
    line-height: 20px;
  }
  .section-features .boards > .card {
    padding: 44px 20px;
  }
  .page-footer .links-group .group {
    flex-basis: 100vw;
  }
  .page-footer .group .links .link {
    justify-content: center;
  }
}
</style>
