<template>
  <div class="page-container">
    <!-- nav -->
    <nav class="home-navbar">
      <a href="https://www.keramos.tech/">
        <img src="../assets/icons/logo-text.svg" class="logo" />
      </a>

      <a href="https://app.keramos.tech/Keramos_Litepaper_V1_Q1_2022.pdf" rel="nofollow noopener noreferrer" target="_blank">
        <div class="button-noborder">
          LITEPAPER
          <img src="../assets/icons/icon_litepaper_light.svg" width="20" height="20" style="margin-bottom:2px;">
          </div>
      </a>
    </nav>

    <!-- section-app -->
    <section class="section-app -1 children-center">
      <div class="image-1" />
      <div class="content">

        <div class="boards">
          <div class="hl1 title">
            “Hello,
          </div>
          <div class="hl2 title">
            DeFi World!”
          </div>

          <div class="subhl1 subtitle">
            <i>IN AN <span style="color: #56DCD7;">AUTOMATED</span></i>
          </div>
          <div class="subhl2 subtitle">
            <i><span style="color: #56DCD7;">HIGH FREQUENCY</span> FASHION</i>
          </div>

          <div class="co1">
            <a href="https://dex.keramos.tech/" target="_blank">
              <div class="card button-like card-1 blackbox">
                <span class="">LAUNCH APP</span>
              </div>
            </a>
          </div>

          <div class="co2">
            <a href="https://keramos.gitbook.io/keramos-docs/" rel="nofollow noopener noreferrer" target="_blank">
              <div class="card button-like card-2 blackbox teal">
                <span class="font">READ DOCS</span>
              </div>
            </a>
          </div>
        </div>

        <div class="full">
          <img src="../assets/background/index_slogan_build_on.svg" class="solana-logo" style="width:180px;"/>
        </div>

      </div>
    </section>
    
    <!-- section-value -->
    <section class="section-value -1 children-center">
      <div class="image-1">
      <div class="content">

        <div class="boards">

          <div class="co1 card blackbox">
            <div class="card-title">TOTAL VALUE LOCKED</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(tvl)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>

          <div class="co2 card blackbox">
            <div class="card-title">TOTAL TRADING VOLUME</div>
            <div class="value">
              <span class="value-sign">$</span>
              <span class="value-number">
                {{
                  Math.round(totalvolume)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
              </span>
            </div>
          </div>

        </div>
        </div>

      </div>
    </section>

    <!-- section-sup -->
    <section class="section-sup -1 children-center">

        <div class="content">
          <div class="hl title">
            <i>(SUPERIOR)</i>
          </div>
        </div>

        <div class="content">
          <div class="hl subtitle">
            <i>Speed</i>
          </div>
          <div class="hl subtitle">
            <i>&nbsp;&lt;&gt;&nbsp;</i>
          </div>
          <div class="hl subtitle">
            <i>Automation</i>
          </div>
          <div class="hl subtitle">
            <i>&nbsp;&lt;&gt;&nbsp;</i>
          </div>
          <div class="hl subtitle">
            <i>Intelligence</i>
          </div>
        </div>

    </section>

    <!-- section-features -->
    <section class="section-features -1 children-center">
      <div class="image-2" />
      <div class="content">

        <div class="boards">
          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_dex.png" />
            </div>
            <div class="feature-title">DEX</div>
            <div class="feature-description">Trade<br>Fast &amp; Low Fee</div>
            <a href="https://dex.keramos.tech/" target="_blank">
              <div class="card button-like blackbox teal">TRADE</div></a>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_amm.png" />
            </div>
            <div class="feature-title">ORDERBOOK AMM</div>
            <div class="feature-description">Scan and filter<br>real-time market price</div>
            <NuxtLink to="/swap/">
              <div class="card button-like blackbox teal">SWAP</div></NuxtLink>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_farm.png" />
            </div>
            <div class="feature-title">YIELD FARM</div>
            <div class="feature-description">Ready-to-deploy<br>Multiple Yield Strategies</div>
            <NuxtLink to="/farms/">
              <div class="card button-like blackbox teal">FARM</div>
            </NuxtLink>
          </div>

          <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_pool.png" />
            </div>
            <div class="feature-title">POOL ACROSS PLATFORM</div>
            <div class="feature-description">One Platform One Pool<br>Many more opportunities</div>
            <NuxtLink to="/pools/">
              <div class="card button-like blackbox teal">VIEW POOL</div>
            </NuxtLink>
          </div>

          <!--
            <div class="card children-center blackbox lightsmoke">
            <div class="">
              <img class="icon96" src="../assets/icons/bot_liq.png" />
            </div>
            <div class="feature-title">LIQUIDITY</div>
            <div class="feature-description">Access to order flow<br>and liquidity</div>
            <NuxtLink to="/liquidity/">
              <div class="card button-like blackbox teal">ADD LIQUIDITY</div></NuxtLink>
          </div>
          -->

        </div>
      </div>
    </section>

    <!-- section-device -->
    <section class="section-device -1 children-center">
      <div class="content">

        <div class="boards">
          <div class="screen">
            <img src="../assets/background/krm_device.png" >
          </div>

          <div class="text">
            <div class="title">ALL TERRAINS<br>WARRIORS</div>
            <div class="subtitle">Seamless experiences<br>on different devices</div>
          </div>

        </div>
      </div>
    </section>

    <!-- section-token -->
    <section class="section-token -1 children-center">
      <div class="content">

        <div class="boards">
          <div class="krm">
            <img src="../assets/background/krm_token_3dblack.png" >
          </div>

          <div class="text">
            <div class="title">$KRM TOKEN</div>
            <div class="subtitle">MAX SUPPLY : <b>1 BILLION</b></div>
            <div class="numbers">1,000,000,000</div>
            <div class="">
              <a href="https://keramos.gitbook.io/keramos-docs/krm-token/usdkrm-tokenomics" target="_blank">
                <div class="card button-like blackbox teal">
                  <span class="font">EXPLORE</span>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- section-partners -->
    <section class="section-partners children-center">
      <div class="title-text">
        <div class="text">PARTNERS</div>
      </div>

      <div class="boards">
        <a href="https://solana.com/" target="_blank"><img src="../assets/icons/sol_logo_grey.svg" class="plogo" /></a>
        <a href="https://www.projectserum.com/" target="_blank"><img src="../assets/icons/serum_logo_grey.svg" class="plogo_r" /></a>
      </div>
    </section>

    <!-- footer -->
    <footer class="page-footer">
      <div class="links-group">
        <div class="group about">
          <div>
            <img class="foot-logo" src="../assets/icons/logo-text.svg" />
          </div>
          <div class="copyright">
            All rights reserved<br>
            © Keramos Technology 2022
          </div>
        </div>

        <div></div>

        <div class="group protocol">
          <div class="title-text">
            <div class="text">DOCS.</div>
          </div>
          <ul class="links">
            <li>
              <a
                class="link"
                href="https://app.keramos.tech/Keramos_Litepaper_V1_Q1_2022.pdf"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >LITEPAPER</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://keramos.gitbook.io/keramos-docs/"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >GITBOOK</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://keramos.gitbook.io/keramos-docs/faq/overview"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >FAQ</a
              >
            </li>
          </ul>
        </div>

        <div class="group support">
          <div class="title-text">
            <div class="text">$KRM TOKEN.</div>
          </div>
          <ul class="links">
            <li>
              <a
                class="link"
                href="https://keramos.gitbook.io/keramos-docs/krm-token/usdkrm-tokenomics"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >EXPLORE $KRM</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://keramos.gitbook.io/keramos-docs/krm-token/usdkrm-tokenomics"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >TOKENOMICS</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://keramos.gitbook.io/keramos-docs/krm-token/dao-voting"
                rel="nofollow noopener noreferrer"
                target="_blank"
                >DAO VOTING</a
              >
            </li>
          </ul>
        </div>

        <div class="group community">
          <div class="title-text-commu">
            <div class="text">COMMUNITY</div>
          </div>
          <ul class="links">
            <li>
              <a href="https://twitter.com/keramostech" class="link-commu" rel="nofollow noopener noreferrer" target="_blank" >
                <div class="card icon-like">
                  <img src="../assets/icons/home-icon-twitter.svg" class="icon-size" />
                </div>
                <div class="media-name">TWITTER</div>
              </a>
            </li>
            <li>
              <a href="https://discord.com/channels/945570116542820363/945570196003897414" class="link-commu" rel="nofollow noopener noreferrer" target="_blank">
                <div class="card icon-like">
                  <img src="../assets/icons/home-icon-discord.svg" class="icon-size" />
                </div>
                <div class="media-name">DISCORD</div>
              </a>
            </li>
            <li>
              <a href="https://medium.com/@keramostechnology" class="link-commu" rel="nofollow noopener noreferrer" target="_blank">
                <div class="card icon-like">
                  <img src="../assets/icons/home-icon-medium.svg" class="icon-size" />
                </div>
                <div class="media-name">MEDIUM</div>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/keramos-technology" class="link-commu" rel="nofollow noopener noreferrer" target="_blank">
                <div class="card icon-like">
                  <img src="../assets/icons/home-icon-linkedin.svg" class="icon-size" />
                </div>
                <div class="media-name">LINKEDIN</div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { Icon, Popover } from 'ant-design-vue'
import HeadChip from '@/components/HeadChip.vue'

@Component({
  components: {
    Icon,
    Popover,
    HeadChip
  },
  layout: 'home',

  async asyncData({ $accessor, $api }) {
    if (!$accessor.price.initialized) {
      await $accessor.price.requestPrices()
    }

    const { tvl, totalvolume } = await $api.getInfo()
    return { tvl, totalvolume }
  }
})
export default class Index extends Vue {
  isPopupOpen = false
  tvl = 0
  totalvolume = 0
  timer: number | undefined = undefined

  mounted() {
    this.timer = window.setInterval(this.getInfo, 1000 * 30)
  }

  beforeDestroy() {
    window.clearInterval(this.timer)
  }

  async getInfo() {
    const { tvl, totalvolume } = await this.$api.getInfo()
    this.tvl = tvl
    this.totalvolume = totalvolume
  }
}
</script>

<style>
.ant-popover-arrow {
  border-color: #0c0926 !important;
}
.ant-popover-inner-content {
  background-color: #0c0926 !important;
}
</style>
<style scoped>
/* utilities */
.card {
  padding: 12px 24px;
  border-radius: 0px;
}
.button-like {
  cursor: pointer;
  user-select: none;
  transition: 75ms;
  font-size: 14px;
  line-height: 18px;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  border: solid 1px;
  padding: 8px;
  color: #E3E4FF;
  font-family: 'Source Code Pro';
}
.button-like:active {
  transform: scale(1);
}
.button-like:hover {
  background-image: linear-gradient(90deg, #597f81, #545d8b);
  color: #E3E4FF;
}
.button-like .font {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon96 {
  display: inline-block;
  width: 120px;
  height: 120px;
  top: -15px;
  position: relative;
}

.forsted-glass {
  position: relative;
  backdrop-filter: blur(var(--blur-size));
  color: var(--text-color);
  border-radius: var(--border-radius);
  background: linear-gradient(126.7deg, var(--bg-board-color) 28.7%, var(--bg-board-color-2, var(--bg-board-color)));
}
.forsted-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
  background: transparent;
  border-radius: inherit;
  box-shadow: inset 0 0 0 var(--border-line-width, 1.5px) var(--border-color);
  mask-image: radial-gradient(at -31% -58%, hsl(0, 0%, 0%, 0.5) 34%, transparent 60%),
    linear-gradient(to left, hsl(0, 0%, 0%, 0.2) 0%, transparent 13%),
    linear-gradient(hsl(0deg 0% 0% / 5%), hsl(0deg 0% 0% / 5%));
}
.forsted-glass.buriedlightsmoke,
.forsted-glass.lightsmoke {
  --border-color: hsl(0, 0%, 100%);
  --bg-board-color: hsl(0, 0%, 100%, 0.08);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --blur-size: 1.5px;
  --border-radius: 20px;
  --border-line-width: 2px;
}
.forsted-glass.buriedlightsmoke {
  --blur-size: 6px;
}
.forsted-glass.smoke {
  --border-color: hsl(0, 0%, 100%);
  --bg-board-color: hsl(0, 0%, 100%, 0.12);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --blur-size: 2.3px;
  --border-radius: 20px;
}
.forsted-glass.teal {
  --border-color: hsl(165, 87%, 65%);
  --bg-board-color: hsl(183, 67%, 54%, 0.2);
  --bg-board-color-2: hsl(183, 67%, 54%, 0);
  --text-color: hsl(183, 67%, 54%);
  --blur-size: 6px;
  --border-radius: 12px;
}

.blackbox {
  position: relative;
  backdrop-filter: blur(var(--blur-size));
  color: var(--text-color);
  background: #292A2F;
  border-radius: 0;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
}
.blackbox::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: transparent;
  border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  border: solid 1px;
}
.blackbox.buriedlightsmoke,
.blackbox.lightsmoke {
  --border-color: ;
  --bg-board-color: hsl(0, 0%, 100%, 0.08);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --border-radius: 0px;
  --border-line-width: 1px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
}
.blackbox.buriedlightsmoke {
  --border-radius: 0px;
}
.blackbox.smoke {
  --border-color: ;
  --bg-board-color: hsl(0, 0%, 100%, 0.12);
  --bg-board-color-2: hsl(0, 0%, 100%, 0);
  --text-color: hsl(0, 0%, 100%);
  --border-radius: 0px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
}
.blackbox.teal {
  --border-color: ;
  --bg-board-color: hsl(183, 67%, 54%, 0.2);
  --bg-board-color-2: hsl(183, 67%, 54%, 0);
  --text-color: #E3E4FF;
  --border-radius: 0px;
  --border-image:	linear-gradient(90deg, #74DBD9, #8192F0) 1;
  --border: solid 1px;
  font-family: 'Source Code Pro';
  letter-spacing: 2px;
  width: 160px;
  padding: 10px;
  font-size:14px;
}

.button-noborder {
  border: 0;
  color: var(--text-secondary);
  font-family: 'Source Code Pro';
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 14px;
}
.button-noborder:hover {
  color:#56DCD7;
}

.children-center {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.children-center,
.children-text-center > * {
  text-align: center;
}
.children-center,
.children-flex-content-center > * {
  justify-content: center;
}

.title-text {
  margin-bottom: 32px;
}
.title-text .line {
  margin: 8px auto;
  width: 40px;
  height: 1px;
  border-radius: 2px;
  background: radial-gradient(39.84% 47.5% at 96.82% 58.33%, #39d0d8 0%, #2b6aff 100%);
}
.title-text .text {
  font-size: 20px;
  line-height: 27px;
}

.grid-cover-container {
  place-items: center;
  display: grid;
}
.grid-cover-container > * {
  max-width: 100%;
  grid-area: 1 / 1;
  overflow: auto;
}

.page-container {
  --text-primary: #A6A7C0;
  --text-secondary: #A6A7C0;
  --text-secondary-light: #A4A5BF;

  overflow: hidden;
}

.home-navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 32px;
  justify-content: space-between;
  z-index: 1;
}
.home-navbar .logo {
  height: 48px;
}

.pop-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pop-links .link {
  padding: 8px;
  color: #c4d6ff;
}
.pop-links .link:not(:last-child) {
  box-shadow: 0 1px 0 rgba(196, 214, 255, 0.1);
}
.pop-links .link:hover {
  color: white;
}

/* section app */
.section-app .hl {
  width: fit-content;
  float: left;
}
.section-app .hl1 {
  position: absolute;
  text-align: right;
  right: 59%;
}
.section-app .hl2 {
  position: absolute;
  text-align: left;
  left: 43%;
}
.section-app .subhl1 {
  position: absolute;
  text-align: right;
  right: 56%;
}
.section-app .subhl2 {
  position: absolute;
  text-align: left;
  left: 45.3%;
}
.section-app .co1 {
  position: absolute;
  right: 51%;
  margin-top: 144px;
  top: 240px;
}
.section-app .co2 {
  position: absolute;
  left: 51%;
  margin-top: 144px;
  top: 240px;
}
.section-app .full {
  position: relative;
  margin-top: 210px;
}
.section-app .title {
  font-size: 56px;
  line-height: 60px;
  color: #E3E4FF;
  margin-bottom: 16px;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-app .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: var(--text-secondary);
  margin-top: 76px;
}
.section-app .card-1 {
  border-radius: 0;
  color: #25262B;
  background: linear-gradient(90deg, #74DBD9, #8192F0);
  transition: 500ms;
  width: 160px;
  padding: 10px;
  font-size:16px;
}
.section-app .card-1:hover {
  border-radius: 0;
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
}
.section-app .app-description {
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary-light);
  margin-bottom: 20px;
}
.section-app .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
  margin-top: 240px;
}

.section-app .boards {
  display: grid;
}

.section-app .boards > .card {
  padding: 24px 24px;
  flex: 1 0 120px;
}
.section-app .boards > .card > .card.icon-like {
  padding: 12px;
  margin-bottom: 12px;
}
.section-app .boards > .card > .app-title {
  margin-bottom: 4px;
}

.section-app.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 520px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-app.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.section-app.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-app.\-1 .image-1 {
  background: url('../assets/background/home-bg-element-1.png');
  background-size: 120%;
  background-repeat: no-repeat;
  display: flow-root;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.section-app.\-2 .image-3 {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.section-app.\-2 .content {
  padding: 0 56px;
  margin: 108px 64px 172px;
}
.section-app.\-2 .boards {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

.section-app.\-2 .app-description {
  font-size: 16px;
  line-height: 24px;
}

.section-app.\-2 .boards > .card {
  max-width: 360px;
  grid-template-rows: auto auto 1fr;
  align-items: initial;
}

/* section value */
.section-value.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 720px;
  overflow: hidden;
  background-size: 100% 100%;
}
.section-value .image-1 {
  background-image: url('../assets/background/home-bg-element-2.png');
  background-size: 110%;
  width: 100%;
  height: 100%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.section-value.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.section-value.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-value .co1 {
  position: absolute;
  right: 51%;
  margin-top: 0;
}
.section-value .co2 {
  position: absolute;
  left: 51%;
  margin-top: 0;
}

.section-value .blackbox {
  color: var(--text-color);
  background: rgb(41, 42, 47, 0.8);
  /*border: solid 1px;*/
  border-radius: 0;
  border-image:	linear-gradient(90deg, #9FCCCC, #6D80D6) 1;
}

.section-value .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
  margin-top: 360px;
}

.section-value .boards {
  display: grid;
}

.section-value .boards > .card {
  padding: 24px 24px;
  flex: 1 0 120px;
}

.section-value .card {
  width: 320px;
  padding: 24px;
}
.section-value .card .card-title {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-secondary);
  margin-bottom: 4px;
}
.section-value .card .value {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary);
}
.section-value .card .value-sign {
  font-size: 24px;
}
.section-value .card .value-number {
  font-size: 24px;
  letter-spacing: 1px;
}

/* section sup */
.section-sup .hl {
  width: fit-content;
  float: left;
}
.section-sup .title {
  font-size: 48px;
  line-height: 60px;
  color: var(--text-secondary);
  margin-bottom: 0;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-sup .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: #56DCD7;
  margin-top: 0;
}

.section-sup .content {
  max-width: 1220px;
  margin-top: 0;
}
.section-sup .box {
  margin: 0 auto;
}

.section-sup .boards {
  display: grid;
}

.section-sup.\-1 {
  position: relative;
  margin: 0 auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 120px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-sup.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* section features */
.section-features .feature-title {
  font-family: 'Source Code Pro';
  font-size: 16px;
  color: #E3E4FF;
  margin-bottom: 8px;
}
.section-features .feature-description {
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary-light);
  margin-bottom: 30px;
}
.section-features .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
}

.section-features .boards {
  display: grid;
}

.section-features .boards > .card {
  padding: 24px 24px 36px 24px;
  flex: 1 0 120px;
}
.section-features .boards > .card > .card.icon-like {
  padding: 12px;
  margin-bottom: 12px;
}
.section-features .boards > .card > .feature-title {
  margin-bottom: 16px;
}

.section-features.\-1 {
  position: relative;
  margin: 180px auto 120px auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 480px;
  overflow: hidden;
  border-radius: 100px;
  background-size: 100% 100%;
}

.section-features.\-1 .boards {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.section-features.\-1 .boards > .card {
  grid-template-rows: auto auto 1fr auto;
}

.section-features.\-1 .image-2 {
  position: absolute;
  inset: 0;
}

.section-features.\-2 .image-3 {
  background: url('../assets/background/index_background3.webp');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.section-features.\-2 .content {
  padding: 0 56px;
  margin: 108px 64px 172px;
}
.section-features.\-2 .boards {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

.section-features.\-2 .feature-description {
  font-size: 16px;
  line-height: 24px;
}

.section-features.\-2 .boards > .card {
  max-width: 360px;
  grid-template-rows: auto auto 1fr;
  align-items: initial;
}

/* section device */
.section-device .title {
  font-size: 40px;
  line-height: 48px;
  color: var(--text-secondary);
  margin-bottom: 0;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-device .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Source Code Pro Light';
  line-height: 32px;
  color: #56DCD7;
  margin-top: 16px;
}
.section-device .text {
  text-align: left;
  margin-top: 140px;
}
.section-device .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
}

.section-device .boards {
  display: grid;
}

.section-device.\-1 {
  position: relative;
  margin: 120px auto 40px auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 440px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-device.\-1 .boards {
  grid-template-columns: 5fr 3fr;
  gap: 10px;
}

.section-device .ipad {
  position: relative;
  left: -80px;
}
.section-device .ipad img {
  width: 560px;
}
.section-device .iphone {
  position: relative;
  left: 150px;
  top: -350px;
}
.section-device .iphone img {
  width: 320px;
}
.section-device .screen {
  position: relative;
}
.section-device .screen img {
  width: 100%;
}

/* section token */
.section-token .title {
  font-size: 32px;
  line-height: 48px;
  color: #56DCD7;
  margin-bottom: 0;
  margin-top: 0px;
  font-family: 'Source Code Pro Light';
}
.section-token .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Source Code Pro Light';
  line-height: 20px;
  color: var(--text-secondary);
  margin-top: 12px;
}
.section-token .numbers {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Source Code Pro Light';
  line-height: 32px;
  color: var(--text-secondary);
  margin-bottom: 28px;
}
.section-token .button-like {
  width: 190px;
  text-align: center;
}
.section-token .text {
  text-align: left;
  margin-top: 40px;
}
.section-token .content {
  max-width: 1220px;
  overflow: auto;
  width: 100%;
}

.section-token .boards {
  display: grid;
}

.section-token.\-1 {
  position: relative;
  margin: 60px auto;
  padding: 0 96px;
  max-width: 1320px;
  min-height: 440px;
  overflow: hidden;
  background-size: 100% 100%;
}

.section-token.\-1 .boards {
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.section-token .krm {
  position: relative;
}
.section-token .krm img {
  width: 50%;
  float: right;
}

/* section-partners */
.section-partners {
  margin: 140px auto 100px auto;
}
.section-partners .boards {
  display: flex;
  justify-content: space-around;
  padding: 0 228px;
  gap: 80px;
}
.section-partners .boards > * {
  flex-grow: 0;
}
.section-partners .text {
  font-size: 16px;
}
.section-partners .title-text {
  margin-bottom: 24px;
}
.section-partners .plogo {
  height: 32px;
}
.section-partners .plogo_r {
  height: 32px;
  margin-right: 8%;
}

/* footer */
.page-footer {
  position: relative;
  background-image: url('../assets/background/home-footer-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flow-root;
}
.page-footer .title-text {
  margin-bottom: 20px;
  margin-top: 12px;
}
.page-footer .links-group {
  width: 100%;
  padding: 160px 8%;
  position: relative;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 100px;
}
.page-footer .links-group > * {
  flex-basis: 220px;
}
.page-footer .group .title-text .text {
  font-size: 14px;
  font-family: 'Source Code Pro';
  color: #E3E4FF;
  margin-bottom: 8px;
}
.page-footer .group .title-text .line {
  width: 20px;
  margin: 0;
}
.page-footer .group .links {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-secondary-light);
}
.page-footer .group .links .link {
  font-size: 12px;
  font-family: 'Source Code Pro';
  margin-bottom: 8px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 12px;
  align-items: center;
  color: #85879B;
}
.page-footer .group .links .link:hover {
  color: #A6A7C0;
}
.page-footer .group .links .link-commu {
  font-size: 12px;
  font-family: 'Source Code Pro';
  margin-bottom: 8px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
  align-items: center;
  color: #85879B;
}
.page-footer .group .links .link-commu:hover {
  color: #A6A7C0;
}
.page-footer .title-text-commu {
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 14px;
  font-family: 'Source Code Pro';
  color: #E3E4FF;
}
.page-footer .group .links .icon-like {
  padding: 0;
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
}
.page-footer .group .links .icon-size {
  width: 20px;
  height: 20px;
}
.page-footer .copyright {
  font-size: 11px;
  margin-left: 2px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 12px;
  align-items: left;
  color: #85879B;
  text-align: left;
}
.page-footer .foot-logo {
  margin-bottom: 20px;
  display: block;
  height: 48px;
}

.page-footer .boards {
  display: grid;
}

.page-footer.\-1 {
}

.page-footer.\-1 .boards {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 1128px) {
  /* is tablet */
  .home-navbar {
    padding: 20px;
  }

  .section-app .title {
    font-size: 48px;
  }
  .section-app .subtitle {
    font-size: 20px;
    line-height: 16px;
  }

  .section-sup.\-1 {
    padding: 0;
  }
  .section-sup .title {
    font-size: 40px;
  }

  .section-device .title {
    font-size: 35px;
    line-height: 42px;
  }
  .section-device .subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .section-device .text {
    margin-top: 66px;
  }

  .page-footer {
    background-size: 100%;
    text-align: left;
    height: 440px;
  }
  .page-footer .links-group {
    gap: 10px;
  }
  .page-footer .links-group .group.community {
    flex-basis: 100vw;
  }
  .page-footer .links-group .title-text .line {
    margin: 0 auto;
  }
  .page-footer .links-group .group.community .title-text {
    display: none;
  }
  .page-footer .links-group .group.community .links {
    display: flex;
    justify-content: left;
    gap: 6px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .page-footer .links-group .group.community .links .media-name {
    display: none;
  }
  .page-footer .group .links .link {
    justify-content: left;
  }
  .page-footer .title-text-commu {
    margin-top: 15px;
  }
  .page-footer .foot-logo {
    height: 40px;
    margin-top: 6px;
  }
  .page-footer .copyright {
    font-size: 9px;
  }

  .section-value.\-1 {
    min-height: 680px;
  }
  .section-value .image-1 {
    background-size: 150%;
  }

  .section-features.\-1 {
    margin: 160px 24px 0 24px;
    padding: 64px 72px;
    background-size: 100% 100%;
  }
  .section-features.\-1 .boards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .section-features.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .image-3 {
    background-image: url('../assets/background/index_background3_tablet.webp');
  }

  .section-device.\-1 {
    padding: 0 40px;
  }

  .section-token.\-1 {
    padding: 0 40px;
  }
  .section-token .krm img {
    width: 70%;
  }
  .section-token .text {
    margin-top: 64px;
  }

  .section-partners .plogo {
    height: 36px;
  }
  .section-partners .plogo_r {
    height: 36px;
  }
}

@media (max-width: 666px) {
  /* is ipad mini portrait */
  .section-app.\-1 .image-1 {
    background-size: 220%;
  }
  .section-app .title {
    font-size: 48px;
  }
  .section-app .subtitle {
    font-size: 20px;
  }
  .section-value.\-1 {
    padding: 0;
  }
  .section-value .image-1 {
    background-size: 180%;
  }

  .section-sup.\-1 {
    padding: 0;
  }
  
  .section-device.\-1 .boards {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section-device .text {
    text-align: center;
    margin-top: 0;
  }
  .section-device .title {
    font-size: 48px;
    line-height: 56px;
  }
  
  .section-token.\-1 {
    padding: 120px 40px;
  }
  .section-token.\-1 .boards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .section-token .krm img {
    width: 54%;
    float: none;
  }
  .section-token .text {
    text-align: center;
    margin-top: 0;
  }
  .section-token .title {
    font-size: 48px;
  }
  .section-token .subtitle {
    font-size: 21px;
  }
  .section-token .numbers {
    font-size: 37px;
    line-height: 56px;
  }
  .section-token .button-like {
    margin: 0 auto;
  }

  .page-footer .foot-logo {
    height: 40px;
    margin-top: 6px;
  }
  .page-footer .copyright {
    font-size: 9px;
  }
  .page-footer .links-group {
    gap: 0;
  }
  .page-footer .title-text-commu {
    margin-top: 15px;
  }
  .page-footer .links-group .group.community .links {
    gap: 6px;
  }
}

@media (max-width: 767px) {
  /* is phone */
  .button-like {
    font-size: 14px;
    line-height: 15px;
  }
  .card {
    padding: 10px 20px;
  }
  .title-text .text {
    font-size: 16px;
    line-height: 20px;
  }

  .home-navbar {
    justify-content: left;
  }
  .home-navbar > *:nth-child(2n) {
    position: absolute;
    right: 20px;
  }
  .home-navbar .logo {
    height: 40px;
  }
  .button-noborder {
    color: #85879B;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .section-partners .boards {
    width: unset;
    justify-content: unset;
    padding: unset;
    flex-direction: column;
    gap: 40px;
  }

  .section-app .content {
    margin-top: 100px;
  }
  .section-app .hl1 {
  position: relative;
  text-align: center;
  right: 0;
  font-size: 40px;
  margin-top: 8px;
  }
  .section-app .hl2 {
    position: relative;
    text-align: center;
    left: 0;
    font-size: 40px;
    margin-top: -64px;
  }
  .section-app .subhl1 {
    position: relative;
    text-align: center;
    right: 0;
    margin-top: -44px;
    font-size: 20px;
  }
  .section-app .subhl2 {
    position: relative;
    text-align: center;
    left: 0;
    margin-top: -56px;
    font-size: 20px;
  }
  .section-app .co1 {
    position: relative;
    right: 0;
    margin: 0 auto;
    top: -16px;
  }
  .section-app .co2 {
    position: relative;
    left: 0;
    margin: 0 auto;
    top: -36px;
  }
  .section-app .full {
    position: relative;
    margin-top: -1px;
}
  .section-app .app-title {
    font-size: 18px;
    line-height: 23px;
  }
  .section-app .app-description {
    font-size: 14px;
    line-height: 16px;
  }

  .section-app.\-1 {
    padding: 56px 20px 0 20px;
  }
  .section-app.\-1 .boards {
    grid-template-columns: 1fr;
  }
  .section-app.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-app.\-2 .content {
    padding: 0 20px;
  }
  .section-app.\-1 .image-1 {
  background: url('../assets/background/home-bg-element-1.png');
  background-size: 300%;
  background-repeat: no-repeat;
  display: flow-root;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  }
  .section-app .boards > .card {
    padding: 44px 20px;
  }
  .section-app .card-1 {
  border-radius: 0;
  color: #25262B;
  background: linear-gradient(90deg, #74DBD9, #8192F0);
  transition: 500ms;
  width: 200px;
  font-size: 18px;
  padding: 16px;
  }
  .section-app .card-1:hover {
  border-radius: 0;
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
  }

  .section-value.\-1 {
    padding: 0;
  }
  .section-value .image-1 {
    background-size: 300%;
  }
  .section-value .content {
    margin-top: 290px;
  }
  .section-value.\-1 .boards {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }
  .section-value .co1 {
    position: relative;
    right: 0;
    margin: 0 auto;
  }
  .section-value .co2 {
    position: relative;
    left: 0;
    margin: 0 auto;
  }
  .section-value .blackbox {
    background: rgb(41, 42, 47, 0.6);
  }

  .section-sup.\-1 {
    padding: 0;
    margin: 0 auto 120px auto;
  }
  .section-sup .title {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .section-sup .subtitle {
    font-size: 28px;
    margin: 8px auto;
    width: 100%;
  }

  .blackbox.teal {
  width: 200px;
  font-size: 16px;
  padding: 16px;
  }

  .section-features .feature-title {
    font-size: 18px;
    line-height: 23px;
  }
  .section-features .feature-description {
    font-size: 14px;
    line-height: 16px;
  }

  .section-features.\-1 {
    padding: 56px 20px;
  }
  .section-features.\-1 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .boards {
    grid-template-columns: 1fr;
  }
  .section-features.\-2 .content {
    padding: 0 20px;
  }
  .section-features.\-2 .image-3 {
    background-image: url('../assets/background/index_background3_mobile.webp');
  }
  .section-features.\-2 .feature-description {
    font-size: 14px;
    line-height: 20px;
  }
  .section-features .boards > .card {
    padding: 24px 20px 40px 20px;
  }

  .section-device.\-1 {
    padding: 0;
    margin: 60px auto;
  }
  .section-device.\-1 .boards {
    grid-template-columns: 1fr;
  }
  .section-device .title {
    font-size: 40px;
    line-height: 48px;
  }
  .section-device .subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .section-device .text {
    text-align: center;
    margin-top: 0;
  }

  .section-token.\-1 {
    margin: 120px auto;
    padding: 0;
  }
  .section-token.\-1 .boards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .section-token .krm img {
    width: 75%;
    float: none;
  }
  .section-token .text {
    text-align: center;
    margin-top: 0;
  }
  .section-token .title {
    font-size: 40px;
  }
  .section-token .subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-top: 4px;
  }
  .section-token .numbers {
    font-size: 31px;
    line-height: 40px;
  }
  .section-token .button-like {
    margin: 0 auto;
    width: 240px;
  }

  .section-partners {
    margin: 180px 0;
  }
  .section-partners .title-text {
    margin-bottom: 40px;
  }
  .section-partners .plogo {
    height: 36px;
  }
  .section-partners .plogo_r {
    height: 36px;
  }

  .page-footer {
    background-size: 280%;
    text-align: left;
    height: 540px;
  }
  .page-footer .links-group {
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    padding: 0 36px;
  }
  .page-footer .links-group .group {
    flex-basis: 100vw;
  }
  .page-footer .group .links .link {
    margin-bottom: 16px;
    justify-content: left;
  }
  .page-footer .group .links .link-commu {
    gap: 20px;
  }
  .page-footer .group .links .icon-like {
    width: 32px;
    height: 32px;
  }
  .page-footer .group .links .icon-size {
    width: 32px;
    height: 32px;
  }
  .page-footer .copyright {
    float: left;
    margin-bottom: 16px;
    margin-top: 16px;
    line-height: 11px;
  }
  .page-footer .foot-logo {
    height: 40px;
    float: left;
    margin-right: 20px;
  }
}
</style>
