<template>
  <Footer :class="isMobile ? 'mobile' : 'pc'">
    <div class="link-menu">
      <a href="https://keramos.gitbook.io/keramos-docs/" target="_blank"><span>READ DOCS</span></a>
      <a href="https://app.keramos.tech/Keramos_Litepaper_V1_Q1_2022.pdf" target="_blank"><span>LITEPAPER</span></a>
    </div>
    <div v-if="!isMobile" class="ant-menu-language">
      <span class="active"><a href="#">English</a></span> | <a href="#">Русский</a>
    </div>
    <div v-if="isMobile" class="ant-menu-language">
      <span class="active"><a href="#">EN</a></span> | <a href="#">RU</a>
    </div>
    <!--
    <div class="icon_list">
      <a :href="linkUrl.twitter" target="_blank" style="margin-left: 10px">
        <img src="@/assets/icons/twitter.svg" width="20" height="20" />
      </a>
      <a :href="linkUrl.discord" target="_blank" style="margin-left: 10px">
        <img src="@/assets/icons/discord.png" width="20" height="20" />
      </a>
      <a :href="linkUrl.telegram" target="_blank" style="margin-left: 10px">
        <img src="@/assets/icons/telegram.svg" width="20" height="20" />
      </a>
      <a :href="linkUrl.medium" target="_blank" style="margin-left: 10px">
        <img src="@/assets/icons/medium.svg" width="20" height="20" />
      </a>
    </div>
    
    <div v-if="isMobile" class="logo">
      <a href="/"><img src="@/assets/icons/logo-text.svg" /></a>
    </div>
    -->
  </Footer>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

import { Layout } from 'ant-design-vue'

const { Footer } = Layout

@Component({
  components: {
    Footer
  }
})
export default class Foot extends Vue {
  navOpened = false
  linkUrl = {
    home: '/',
    app: '/swap/',
    info: '/info/',
    listing: 'https://forms.gle/Ct7ySJkxQyUvrHR99',
    twitter: 'https://twitter.com/keramostech',
    discord: 'https://discord.com/channels/945570116542820363/945570196003897414',
    telegram: 'https://www.linkedin.com/company/keramos-technology',
    medium: 'https://medium.com/@keramostechnology'
  }

  get isMobile() {
    return this.$accessor.isMobile
  }

  beforeMount() {
    this.$accessor.queryIsMobile()
  }
}
</script>

<style lang="less" scoped>
.mobile {
  .link-menu {
    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 13px;
      color: #84879c;
      padding: 10px;
    }
  }

  .ant-menu-language {
    text-align: center;
    padding: 8px;
  }

  .icon_list {
    text-align: center;
    margin: 48px 0;
  }

  .logo {
    text-align: center;
    margin-bottom: 50px;
  }
}

.pc {
  display: flex;
  justify-content: space-between;

  .link-menu {
    a {
      display: inline-block;
      width: 100px;
      text-align: center;
      color: #84879c;
      font-family: 'Source Code Pro';
      font-size: 13px;

      &:hover {
        color: #fff;
      }
    }
  }
}
</style>
