<template>
  <Header class="header fs-container" :class="isMobile ? 'mobile' : ''">
    <NuxtLink to="/">
      <img v-if="isMobile" class="logo" src="@/assets/icons/logo.svg" />
      <img v-else class="logo" src="@/assets/icons/logo-text.svg"
    /></NuxtLink>

    <div v-if="isMobile ? (navOpened ? true : false) : true" :class="isMobile ? 'mobile-nav' : ''">
      <Nav @onSelect="() => (navOpened = false)" />
    </div>

    <div class="fs-container">
      <Wallet />
      <div
        v-if="isMobile"
        class="nav-button"
        :class="navOpened ? 'opened' : ''"
        @click="() => (navOpened = !navOpened)"
      >
        <span />
        <span />
        <span />
        <span />
      </div>
    </div>
  </Header>
</template>

<script lang="ts">
import Vue from 'vue'

import { Layout } from 'ant-design-vue'

const { Header } = Layout

export default Vue.extend({
  components: {
    Header
  },

  data() {
    return {
      navOpened: false
    }
  },

  computed: {
    isMobile() {
      return this.$accessor.isMobile
    }
  }
})
</script>

<style lang="less" scoped>
@import '../styles/variables';

@media (min-width: 900px) and (max-width: 1200px) {
  .nuxt-link-active {
    display: none;
  }
}

.header {
  border-bottom: 1px solid @modal-header-bg;
  /*border-image: linear-gradient(90deg, #9FCCCC, #6D80D6) 1;*/

  .logo {
    height: 32px;
    margin-right: 60px;
  }

  .mobile-nav {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    top: 64px;
    left: 0;
    text-align: center;
    z-index: 99;
  }

  .nav-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;
    margin-right: 4px;
    width: 24px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      background-color: #A6A7C0;
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      border-radius: 0;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    span:first-child {
      top: 0;
      transform-origin: left top;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center center;
    }

    span:nth-child(4) {
      bottom: 0;
      transform-origin: left bottom;
    }
  }

  .nav-button.opened {
    span:first-child {
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      width: 0%;
      left: 50%;
    }
  }
}

.ant-btn:hover, .ant-btn:focus {
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
}

.header.mobile {
  padding: 0 20px;
  
  .logo {
    height: 36px;
  }

}

.v2-button.card {
  align-self: center;
  line-height: initial;
  padding: 0.5px;
  margin: 16px;
  .card-body {
    padding: 7px;
    height: 100%;
    font-weight: bold;
    color: white;
  }
}
</style>
