<template>
  <Menu
    v-model="currentRoute"
    :mode="isMobile ? 'inline' : 'horizontal'"
    :theme="isMobile ? 'dark' : 'light'"
    @click="changeRoute"
  >
    <template v-for="(extra, name) in navs">
      <MenuItem v-if="typeof extra === 'boolean'" :key="name" :title="name">
        <a v-if="extra" :href="url[name]" target="_blank">
          {{ name.replace('-', ' ') }}
        </a>
        <span v-else> {{ name.replace('-', ' ') }} </span>
      </MenuItem>
      <SubMenu v-else :key="name" :title="name">
        <MenuItem v-for="(subExtra, subName) in extra" :key="subName">
          <a v-if="subExtra" :href="url[subName]" target="_blank">
            {{ subName.replace('-', ' ') }}
          </a>
          <span v-else> {{ subName.replace('-', ' ') }} </span>
        </MenuItem>
      </SubMenu>
    </template>
  </Menu>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

import { Menu } from 'ant-design-vue'

const MenuItem = Menu.Item
const SubMenu = Menu.SubMenu

@Component({
  components: {
    Menu,
    MenuItem,
    SubMenu
  }
})
export default class Nav extends Vue {
  navs = {
    trade: true, 
    swap: false,
    farms: false,
    pools: false,
    liquidity: false,
    // staking: false
    // info: false
  }

  get isMobile() {
    return this.$accessor.isMobile
  }

  get url() {
    return this.$accessor.url
  }

  get currentRoute() {
    return [this.$accessor.route.name]
  }

  set currentRoute(route) {}

  changeRoute({ key }: { key: string }): void {
    const { from, to, ammId } = this.$route.query
    if (['swap', 'liquidity'].includes(key) && (ammId || (from && to))) {
      if (ammId) {
        this.$router.push({
          path: `/${key}/`,
          query: {
            ammId
          }
        })
      } else if (from && to) {
        this.$router.push({
          path: `/${key}/`,
          query: {
            from,
            to
          }
        })
      } else {
        this.$router.push({ path: `/${key}/` })
      }
    } else if ((this as any).navs[key] === false) {
      this.$router.push({ path: `/${key}/` })
    }

    // to close menu on mobile mode
    this.$emit('onSelect')
  }
}
</script>

<style lang="less">
@import '../styles/variables';

.ant-menu {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Source Code Pro';
  color: #656675;
}
.ant-menu-submenu-popup {
  background-color: #131a35;
}
.ant-menu-submenu > .ant-menu {
  background-color: #232d54;
}
.ant-menu-item {
  padding: 0 24px;
}
.ant-menu-item:active {
  background-color: unset;
}
.ant-menu-item-selected {
  background-color: #30323F;
  color: #E3E4FF;
}

.ant-menu-language a:link {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Source Code Pro';
  color: #656675;
}
.ant-menu-language .active a:link {
  color: #E3E4FF;
}
.ant-menu-language .active a:hover {
  color: #E3E4FF;
}

.ant-menu-horizontal {
  line-height: 32px;
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  /*border: 1px solid;
  border-image: linear-gradient(90deg, #9FCCCC, #6D80D6) 1;*/
  border-bottom: 2px solid transparent;
  background: #30323F;
  color: #E3E4FF;
}

.ant-btn {
  border-radius: 0;
  border: 1px solid;
  border-image: linear-gradient(90deg, #74DBD9, #8192F0) 1;
  color: #E3E4FF;
  font-family: 'Source Code Pro';
  font-size: 13px;
  text-transform: uppercase;
  background: #25262B;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
  color: #E3E4FF;
  background-image: linear-gradient(90deg, #597f81, #545d8b);
}

.ant-btn[disabled] {
  border: 1px solid #454650;
  color: #656675;
  font-family: 'Source Code Pro';
  background: #25262B;
}

.ant-btn[disabled]:hover {
  border: 1px solid #454650;
  color: #656675;
  font-family: 'Source Code Pro';
  background: #454650;
}

.ant-tooltip-inner {
  font-size: 11px;
}

@media (max-width: 1020px) {
  .ant-menu-item {
    padding: 0 12px;
  }
  .ant-menu {
    color: #656675;
  }
}
</style>
