<template>
  <div class="home-container-background">
    <Nuxt />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({})
export default class Home extends Vue {}
</script>

<style lang="less">
.home-container-background {
  background-color: #25262B;
  /*background-image: url('../assets/background/home-bg-element-1.png');*/
  background-size: 120%;
  background-repeat: no-repeat;
  display: flow-root;
  background-position: center top;
}
</style>
